{% extends 'noter/base.html' %}
{% block title %}Home{% endblock %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'noter/css/home.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
{% endblock %}
{% block content %}

    <div class="main">
        <button onclick="toggle()" class="button" style="border:none; background-color: transparent;">
            <i class="ri-menu-line"></i>
        </button>
        <div class="menu">
            <div class="menu_header">
                <div class="menu_header_header">
                    <a href="{% url 'noter:home' %}" style="text-decoration: none; color: #000000;">
                        <h1><b>Menu</b></h1>
                    </a>
                    <button onclick="toggle()" style="border:none; background-color: transparent;">
                        <i class="ri-menu-line"></i>
                    </button>
                </div>
                <div class="menu_header_header_input">
                    <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                </div>
            </div>
            <div class="menu_tasks">
                <div class="menu_tasks_header">
                    <b>Tasks</b>
                </div>
                <div class="menu_tasks_buttons">
                    <a class="task_button" href="{% url 'noter:upcoming' %}">
                        <i class="ri-arrow-right-double-line task_button_text"></i>
                        <div class="task_button_text">Upcoming</div>
                        <div class="task_button_number_parent">
                            <div class="task_button_number">12</div>
                        </div>
                    </a>

                    <a class="task_button ticked" href="{% url 'noter:home' %}">
                        <i class="ri-check-double-line task_button_text"></i>
                        <div class="task_button_text">Today</div>
                        <div class="task_button_number_parent">
                            <div class="task_button_number">
                                <b>{{ number_of_notes }}</b>
                            </div>
                        </div>
                    </a>

                    <a class="task_button" href="{% url 'noter:calendar' %}">
                        <i class="ri-calendar-2-line task_button_text"></i>
                        <div class="task_button_text">Calendar</div>
                        <div class="task_button_number_parent">
                            <div class="task_button_number">12</div>
                        </div>
                    </a>

                    <a class="task_button" href="{% url 'noter:sticky-wall' %}">
                        <i class="ri-file-list-2-line task_button_text"></i>
                        <div class="task_button_text">Sticky Wall</div>
                        <div class="task_button_number_parent">
                            <div class="task_button_number">12</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="menu_lists">
                <div class="menu_tasks_header">
                    <b>Lists</b>
                </div>
                <div class="menu_tasks_buttons">
                    <div class="menu_list_button_overflow">
                        {% for list in lists %}
                        <a class="menu_list_button " href="{% url 'noter:lists' list.id %}">
                            <div class="bg-{{list.color}} i"></div>
                            <div class="list_href_text">{{list.name}}</div>
                        </a>
                        {% endfor %}
                    </div>
                    <button class="menu_list_button_fteroo" onclick="add_list_div()">
                        <i class="ri-add-line" style="margin: 1vh 1vh;"></i>
                        <div class="menu_list_button_text">Add List</div>
                    </button>
                </div>
            </div>
            <div class="menu_footer">
                <a class="menu_footer_logout" href="{% url 'noter:history' %}">
                    <i class="ri-history-line"></i>History
                </a>
                <a class="menu_footer_logout" href="{% url 'users:logout' %}">
                    <i class="ri-logout-box-line"></i>Logout
                </a>
            </div>
        </div>


        <div class="list">
            <div class="list_text">
                <h1><b>Today</b></h1>
                <div class="list_text_number">
                    <b>{{ number_of_notes }}</b>
                </div>
            </div>
            <div class="list_main">
                <div class="list_main_notes">
                    <div class="list_main_add">
                        <form action="{% url 'noter:create-note' %}" method="post" style="display: flex; width: 100%;">
                            {% csrf_token %}
                            <div class="list_main_add_button">
                                <input type="button" value="+" class="list_main_add_button_button" onclick="add_note_div()">
                            </div>
                            <div class="list_main_add_input">
                                <input type="text" class="form-control" placeholder="Enter text here" name="title_input">
                            </div>
                        </form>
                    </div>
                    {% for note in notes %}
                        <div class="click_form_div" data-id="{{ note.id }}">
                            <form action="{% url 'noter:do' note.id %}" method="post" class="list_main_note_form">
                                {% csrf_token %}
                                <div class="list_main_note">
                                    <div class="list_main_note_top">
                                        <div class="list_main_note_checkbox">
                                            <input type="checkbox" id="do_note" onchange="this.form.submit()">
                                        </div>
                                        <div class="list_main_note_text">
                                            <label for="do_note" style="margin: 0;">
                                                {{note.title}}
                                            </label>
                                        </div>
                                        <div class="list_main_note_i">
                                            <i class="ri-arrow-right-s-line"></i>
                                        </div>
                                    </div>
                                    <div class="list_main_note_bottom">
                                        {% if note.list != None %}
                                        <div class="list_main_note_bottom_list">
                                            <div class="bg-{{note.list.color}} p"></div>
                                            {{note.list.name}}
                                        </div>
                                        {% endif %}
                                        {% if note.end_at == today %}
                                        <div class="list_main_note_bottom_list">
                                            <div class="list_main_note_bottom_list_text">{{note.end_at}}</div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        <div class="properties">
            {% for note in notes %}
                <div class="note_properties" id="i{{note.id}}">
                    <h1>Task:</h1>



                    <p>
                        Name:
                        <input type="text" value="{{note.title}}">
                    </p>


                    
                    <p>
                        ID:
                        <b>#{{note.id}}</b>
                    </p>


                    <p>
                        Description:
                        {% if note.description %}
                            <input type="text" value="{{note.description}}">
                        {% endif %}
                        {% if note.description == "" %}
                            <input type="text" placeholder="Add description...">
                        {% endif %}
                    </p>


                    <p>
                        Created at:
                        <b>{{note.created_at}}</b>
                    </p>


                    <p>
                        Start at:
                        {% if note.start_at %}
                            <input type="datetime-local" value="{{ note.start_at }}">
                        {% endif %}
                        {% if note.start_at == None %}
                            <input type="datetime-local">
                        {% endif %}
                    </p>


                    <p>
                        End at:
                        {% if note.end_at %}
                            <input type="datetime-local" value="{{  note.end_at  }}">
                        {% endif %}
                        {% if note.end_at == None %}
                            <input type="datetime-local">
                        {% endif %}
                    </p>


                    <p>
                        Deadline:
                        {% if note.deadline %}
                            <input type="datetime-local" value="{{  note.deadline  }}">
                        {% endif %}
                        {% if note.deadline == None %}
                            <input type="datetime-local">
                        {% endif %}
                    </p>


                    <p>
                        List:
                        <select name="" id="">
                            <option value="">
                                {% if note.list.name == None %}
                                    Today
                                {% endif %}
                                {% if note.list.name != None %}
                                    {{note.list.name}}
                                {% endif %}
                            </option>
                            {% for list in lists %}
                                {% if note.list.name == list.name %}
                                {% else %}
                                    <option value="">{{ list.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </p>

                    <div class="note_properties_footer">
                        <form action="{% url 'noter:delete' note.id %}" method="post">
                            {% csrf_token %}
                            <input type="button" onclick="this.form.submit()" class="btn btn-danger" value="Delete task!">
                        </form>    
                        <form action="{% url 'noter:do' note.id %}" method="post">
                            {% csrf_token %}
                            <input type="Button" onclick="this.form.submit()" value="Mark as done" class="btn btn-success">
                        </form>
                        <form action="">
                            {% csrf_token %}
                            <input type="button" class="btn btn-warning" value="Save changes!">
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="add_list_toggle">
            <form method="post" action="{% url 'noter:create-list' %}" id="list_form">
                {% csrf_token %}
                <div class="colorSelectionOptionsBack" onclick="colorOpen()"></div>
                <input type="text" name="list_name" placeholder="Enter List Name" class="submit_list_text">
                <input type="hidden" name="list_color" id="list_color">
                <div class="colorSelection">
                    <div class="colorSelectionButton" onclick="colorOpen()">
                        <u style="text-decoration: none;" class="colorSelectionButtonText">--Select Color--</u>
                        <i class="ri-arrow-down-s-line colorSelectionButtonLogo"></i>
                    </div>
                    <div class="colorSelectionOptions">
                        <div class="colorSelectionOption">
                            <div class="colorSelectionOptionColor" style="width: 3vh; height: 3vh; background-color: #494949; border-radius: 50%; margin:2vh;"></div>
                            Default
                        </div>
                        <div class="colorSelectionOption">
                            <div class="colorSelectionOptionColor" style="width: 3vh; height: 3vh; background-color: #faecc3; border-radius: 50%; margin:2vh;"></div>
                            Kasar
                        </div>
                        <div class="colorSelectionOption">
                            <div class="colorSelectionOptionColor" style="width: 3vh; height: 3vh; background-color: #bba591; border-radius: 50%; margin:2vh;"></div>
                            Light Brown
                        </div>
                        <div class="colorSelectionOption">
                            <div class="colorSelectionOptionColor" style="width: 3vh; height: 3vh; background-color: #336659; border-radius: 50%; margin:2vh;"></div>
                            Maroon green
                        </div>
                        <div class="colorSelectionOption">
                            <div class="colorSelectionOptionColor" style="width: 3vh; height: 3vh; background-color: #0e1c4f; border-radius: 50%; margin:2vh;"></div>
                            Rich blue
                        </div>
                    </div>
                </div>
                <input type="button" onclick="add_list_div()" value="Cancel" class="submit_list_form" style="right: 20vh; background-color: rgb(228, 228, 228);">
                <input type="submit" value="Create List" class="submit_list_form">
            </form>
        </div>
        <div class="add_list_toggle_back" onclick="add_list_div()"></div>
        <div class="add_note_toggle">
            <div class="card-body">
                <form action="{% url 'noter:create-note' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="title_input" class="form-label">Title:</label>
                        <input type="text" name="title_input" class="form-control fw-bold" id="title_input" placeholder="Enter Title Here" required>
                    </div>
                    <div class="mb-3">
                        <label for="description_input" class="form-label">Description:</label>
                        <textarea type="text" name="description_input" class="form-control fw-bold" id="description_input" rows="4" placeholder="Type something..."></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="select_input" class="form-label">List:</label>
                        <select name="select_input" id="">
                            <option value="">Today</option>
                            {% for list in lists %}
                                <option value="{{ list.id }}">
                                    {{ list.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="start_input" class="form-label">Start at:</label>
                        <input type="datetime-local" if="start_input" class="form-control" name="start_at">
                    </div>
                    <div class="mb-3">
                        <label for="end_input" class="form-label">End at:</label>
                        <input type="datetime-local" if="end_input" class="form-control" name="end_at">
                    </div>
                    <div class="mb-3">
                        <label for="deadline_input" class="form-label">Deadline:</label>
                        <input type="datetime-local" if="deadline_input" class="form-control" name="deadline_at">
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-warning bg-log" style="position: absolute; bottom: 1.25rem; right: 3.25rem;">Create</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="add_note_toggle_back" onclick="add_note_div()"></div>
    </div>
    <script>
        document.getElementById("list_form").addEventListener("submit", function(event) {
            var content = document.querySelector(".colorSelectionButtonText").innerHTML;
            if (content != "--Select Color--"){
                document.getElementById("list_color").value = content;
            }
            if (content == "Kasar"){
                document.getElementById("list_color").value = "kasar";
            }
            if (content == "Light Brown"){
                document.getElementById("list_color").value = "lightbrown";
            }
            if (content == "Maroon green"){
                document.getElementById("list_color").value = "maroongreen";
            }
            if (content == "Rich blue"){
                document.getElementById("list_color").value = "richblue";
            }
            if (content == "Default"){
                document.getElementById("list_color").value = "default";
            }
        });
        function toggle() {
            const menu = document.querySelector('.menu');
            const button = document.querySelector('.button');

            if (menu.style.marginLeft === '0px' || menu.style.marginLeft === '') {
                button.style.opacity = '100%';
                button.style.visibility = 'visible';
                menu.style.marginLeft = '-500px';
                button.style.marginLeft = '1vh';
            }
            else {
                button.style.opacity = '0%';
                button.style.marginLeft = '-3vh';
                button.style.visibility = 'hidden';
                menu.style.marginLeft = '0px';
            }
        }
        function colorOpen() {
            const menu = document.querySelector('.colorSelectionOptions');
            const back_button = document.querySelector('.colorSelectionOptionsBack')
            const rotation_button = document.querySelector('.colorSelectionButtonLogo')
            if (!menu.classList.contains('visible')) {
                console.log('salom2')
                menu.classList.add('visible');
                back_button.classList.add('visible');
                rotation_button.style.transform = 'rotate(180deg)'
            } else {
                console.log('salom1')
                menu.classList.remove('visible');
                back_button.classList.remove('visible');
                rotation_button.style.transform = 'rotate(0deg)'
            }
        }
        function add_list_div() {
            const menu = document.querySelector('.add_list_toggle');
            const button = document.querySelector('.add_list_toggle_back');
            const menuDisplay = window.getComputedStyle(menu).display
            if (menuDisplay === 'none'){
                button.style.display = 'block';
                menu.style.display = 'grid';
            }
            else{
                console.log('bosildi')
                button.style.display = 'none';
                menu.style.display = 'none';
            }
        }
        function add_note_div() {
            const menu = document.querySelector('.add_note_toggle');
            const button = document.querySelector('.add_note_toggle_back');
            const menuDisplay = window.getComputedStyle(menu).display
            if (menuDisplay === 'none'){
                button.style.display = 'block';
                menu.style.display = 'grid';
            }
            else{
                console.log('bosildi')
                button.style.display = 'none';
                menu.style.display = 'none';
            }
        }
        const colorOptions = document.querySelectorAll('.colorSelectionOption');
        const button = document.querySelector('.colorSelectionButtonText');
        colorOptions.forEach(option => {
            option.addEventListener('click', () => {
                const textContent = option.textContent
                const tagText = option.querySelector('.colorSelectionOptionColor')?.textContent || '';
                const pureText = textContent.replace(tagText, '').trim();

                button.innerHTML = pureText

                const menu = document.querySelector('.colorSelectionOptions');
                menu.classList.remove('visible');
                const back_button = document.querySelector('.colorSelectionOptionsBack')
                back_button.classList.remove('visible');

                const rotation_button = document.querySelector('.colorSelectionButtonLogo')
                rotation_button.style.transform = 'rotate(0deg)'

                button.innerHTML += j
            });
        });
        function select_list_for_note(){
            const menu = document.querySelector('.add_note_toggle_for');
            const button = document.querySelector('.add_note_toggle_for_list_back');
            // const menuDisplay = window.getComputedStyle(menu).display
            if (menu.style.display === 'none'){
                button.style.display = 'block';
                menu.style.display = 'grid';
            }
            else{
                console.log('bosildi')
                button.style.display = 'none';
                menu.style.display = 'none';
            }
        }

        let elements = document.querySelectorAll('.click_form_div');
        elements.forEach((element) => {
            element.addEventListener('click', ()=>{
                id = element.getAttribute('data-id')
                others = document.querySelectorAll('.note_properties')
                others.forEach((other)=>{
                    other.style.display = 'none'
                })
                let property = document.getElementById(`i${id}`);
                if (property) {
                    property.style.display = 'block';
                }
            })
        })
    </script>
{% endblock %}