{% extends "users/base.html" %}
{% block title %} Sign up Page {% endblock %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
{% endblock %}
{% block content %}
    <img src="{% static 'users/images/sky.jpg' %}" alt="">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert" style="position: absolute; z-index: 10; display: flex; justify-content: center; width: 100%;" id="auto-close-alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="background">
        <div class="nav" style="height: 80%;">
            <div class="page_logo"style="height: 25%;">
                <div class="i_logo">
                    <i class="ri-user-add-line ri-3x"></i>
                </div>
            </div>
            <div class="nav_text"style="height: 75%;">
                <div class="nav_title"><b>Sign up with email</b></div>
                <div class="dontknow">Make a new doc to bring your words, data, and teams together. For free</div>
                <form method="post">
                    {% csrf_token %}
                    <p>
                        <input type="text" name="username" placeholder="Username" class="form-control">
                    </p>
                    <p>
                        <input type="text" name="email" placeholder="Email" class="form-control">
                    </p>
                    <p>
                        <input type="text" name="password1" placeholder="Password" class="form-control">
                    </p>
                    <p>
                        <input type="text" name="password2" placeholder="Confirm password" class="form-control">
                    </p>
                    <p>
                        <input type="text" name="theme_color" placeholder="Theme-color" class="form-control">
                    </p>
                    <p style="float: right;">
                        <a href="">Forgot Password?</a>
                    </p><br>
                    <div class="a" style="margin: auto;">
                        <p>
                            <input type="submit" name="submit" class="btn btn-primary btn-lg" value="Get Started" onclick="this.form.sumbit()">
                        </p>
                        <p>Already have an account? - <a href="{% url 'users:login' %}">Login</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>

<script>
    setTimeout(()=>{
        const alert = document.getElementById('auto-close-alert')
        if(alert){
            $(alert).alert('close');
        }
    }, 2000);
</script>
{% endblock %}